.barraBusqueda{

    
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;

}

.barraBusqueda input{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.barraBusqueda input::-webkit-input-placeholder {
   color: #65737e;
}
 
.barraBusqueda input:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.barraBusqueda input::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.barraBusqueda input:-ms-input-placeholder {  
   color: #65737e;  
}

.barraBusqueda .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.barraBusqueda input:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }

button{

    color: #1e1e1e;
    transition: 0.5s;

    &:hover{
        color: black;
    }


}